.progress-bar {
  position: relative;
  height: 6px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid black;
}

.filler {
  background: linear-gradient(to right, orange, red);
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

.button {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-radius: 50px;
  border: 1px solid;
  padding: 10px;
}

.button:hover {
  border: 2px solid;
}

.button:active {
  border: 3px solid;
}

.fadeOut {
  animation: fade 3s linear;
}

@keyframes fade {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
